.header-meta{
	display: inline-block;
	border-bottom: 1px solid #bdccd2;
	width: 100px;
	padding-bottom: 3px;
	margin-bottom: 14px;
	margin-top: 25px;
 }
.language{
	display: inline-block;
	width: 45px;
}
.header-meta ul{
	display: inline-block;
	width: 40px;
	padding: 0px;
}
.main-menu ul {
	display: inline-block;
	display: flex;

}
.header-sline {
	width: 100%;
	background-color: red;
}
.main-menu ul li a {
	
	display: block;
	color: #fff;
	font-size: 16px;
	padding: 0 15px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 47px;
	outline: none;
	position: relative;
}
.main-menu {
	margin-top: 10px;
}
/*.dnn_searchPane i{
	position: absolute;
}
.dnn_searchPane input{
	position: relative;
}*/